@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
    font-family: helveticaNeue1;
    src: url(HelveticaNeue_Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'helveticaNeue1', 'Paytone One', 'sans-serif';
}

:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;
}

p {
    font-family: 'helveticaNeue1';
    font-size: 19px;
}

#bg_olo {
    width: 100vw;
    height: 100vh;
    background: url('Fond\ bleu.svg');
    background-size: cover;
}

.fw-400 {
    font-weight: 400;
    /* font-size: 17; */
}

.text-main {
    font-family: 'Montserrat';
    font-size: 3rem;
    margin-bottom: 2.5rem;
    width: 104%;
}

.text-yellow {
    color: var(--yellow-color);
}

.text-font2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.2em;
}

.text-transparent {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
}

.menu-toogle {
    display: flex;
    justify-content: flex-end;
}

/* .menu-toogle .bx-chevron-up {
    display: none;
} */

.menu-toogle ul.active {
    transform: scaleY(1);
    width: 100%;
    transition: transform 0.5s ease-out;
    font-size: 20px;
    font-weight: 300;
}

.menu-toogle ul.inactive {
    transform: scaleY(0);
    width: 0;
    overflow: hidden;
    transition: transform 250ms ease-out;
}

.list-items {
    display: flex;
    list-style-type: none;
    margin-right: 1.5rem;
    color: white;
}

.list-items li {
    padding: 0 10px;
}

.list-items li.active {
    text-decoration: underline;
    text-underline-position: under;
}

.icon-size {
    font-size: 2.5rem;
}

.btn-1 {
    color: var(--yellow-color);
    border-color: var(--yellow-color);
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem;
}

.btn-2 {
    color: var(--blue-color);
    background-color: white;
    padding: 0.5rem;
}

.main-consultant {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
    /* filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2)) grayscale(1); */
}

/* Modifiain */
.p-3 {
    padding: 16px !important;
}

p.text-white.fw-400 {
    margin-bottom: 3rem;
}

.btn-vous {
    /* padding-top: 20px; */
}

.btn-1.mr-2,
.btn-2.ml-2 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.btn-2.ml-2 {
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .15);
}

.container.d-flex.h-75 {
    position: relative;
    height: 86% !important;
    max-width: 1655px !important;
}

.main-consultant {
    position: absolute;
    /* height: 100% !important; */
    height: 105% !important;
    bottom: 0%;
}

.d-flex.flex-column.justify-content-center.px-5.w-50 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    left: 9%;
    bottom: 8%;
}

.d-flex.justify-content-center.w-50 {
    position: relative;
    right: 5%;
}

#bg_olo::before {
    content: '';
    position: absolute;
    height: 170px;
    width: 100%;
    background-image: url('Barre_polygone.svg');
    background-size: cover;
    /* bottom: 0; */
    bottom: -8px;
    z-index: 1;
    filter: drop-shadow(0px -20px 10px rgba(0, 0, 0, 0.1));
}

.band_services {
    color: var(--grey1-color);
    position: absolute;
    bottom: 4%;
    z-index: 2;
    font-size: 18px;
    letter-spacing: 1px;
}

.trait_liste_services {
    display: flex;
    align-items: center;
}

.liste_services {
    font-size: 28px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

.trait_service {
    background-color: var(--grey1-color);
    height: 1px;
    width: 100px;
}

#partner_olo,
#service_olo {
    width: 100vw;
    height: 100vh;
    background-image: url(Design\ light\ 2.svg);
    background-size: cover;
}

#partner_olo h1,
#service_olo h1 {
    font-family: 'Montserrat';
    color: var(--grey1-color);
    font-size: 3.5rem !important;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 25px;
}

.partner_title_1,
.partner_title_2 {
    display: flex;
}

.title_blue {
    color: var(--blue-color);
}

.title_yellow {
    color: var(--yellow-color);
}

#partner_olo p {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey3-color);
    padding-bottom: 50px;
}

#partner_olo h3 {
    text-align: center;
    color: var(--blue-color);
    font-size: 2.5rem;
    font-weight: 300;
}

#partner_olo .partner_intro {
    padding-bottom: 10px;
}

#partner_olo .partner_band {
    height: 30%;
    background: #f4f4f4;
}

#service_olo .service_card {
    font-family: 'Montserrat';
    font-size: 21px;
    font-weight: 500;
    width: 250px;
    height: 350px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .1);
}

.title_card {
    width: 100%;
    display: grid;
    height: 25%;
    background-color: var(--blue-color);
    color: white;
    text-align: center;
    align-items: center;
}

.service_card a {
    font-family: 'helveticaNeue1';
    font-size: 17px;
    color: var(--yellow-color) !important;
    font-weight: 600;
}

.service_card .text_card {
    font-size: 17px;
    padding: 12px;
}

.service_list {
    display: flex;

}

.service_card .button_card {}

.service_card button {
    font-size: 17px;
    font-weight: 500;
    background-color: var(--yellow-color);
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}