@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'Paytone One', 'sans-serif';
}

:root {
    --yellow-color: #e8c410;
    --blue-color: #30428d;
}

#bg_olo {
    width: 100vw;
    height: 100vh;
    background: url('Fond\ bleu.svg');
    background-size: cover;
}

.fw-400 {
    font-weight: 400;
}

.text-main {
    font-size: 3rem;
    font-weight: 900;
}

.text-yellow {
    color: var(--yellow-color);
}

.text-font2 {
    font-family: 'Paytone One';
}

.text-transparent {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
}

.menu-toogle {
    display: flex;
    justify-content: flex-end;
}

/* .menu-toogle .bx-chevron-up {
    display: none;
} */

.menu-toogle ul.active {
    transform: scaleY(1);
    width: 100%;
    transition: transform 0.5s ease-out;
}

.menu-toogle ul.inactive {
    transform: scaleY(0);
    width: 0;
    overflow: hidden;
    transition: transform 250ms ease-out;
}

.list-items {
    display: flex;
    list-style-type: none;
    margin-right: 1.5rem;
    color: white;
}

.list-items li {
    padding: 0 10px;
}

.list-items li.active {
    text-decoration: underline;
    text-underline-position: under;
}

.icon-size {
    font-size: 2.5rem;
}

.btn-1 {
    color: var(--yellow-color);
    border-color: var(--yellow-color);
    background-color: transparent;
    border: 1px solid;
    padding: 0.5rem;
}

.btn-2 {
    color: var(--blue-color);
    background-color: white;
    padding: 0.5rem;
}

.main-consultant {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}