@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: helveticaNeue1;
    src: url(HelveticaNeue_Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'helveticaNeue1', 'League Spartan', 'sans-serif';
    transition: 0.5s;
}

:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;
    --btn-font-size: 22px;
}

p {
    font-family: 'helveticaNeue1';
    font-size: 19px;
}

#bg_olo {
    height: 100vh;
    background: url('Fond bleu.svg');
    background-size: cover;
}

.header {
    background-image: url('Fond\ bleu.svg');
    background-size: cover;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 107px !important;
    z-index: 10 !important;
    display: flex;
    animation: downimation 1s ease;
}

.header .mx-5.d-flex.p-3.justify-content-between {
    width: 100%;
}

.header img.logo_olo {
    height: 100%;
}

#Calque_1 {
    margin-bottom: 2rem;
}

#Calque_1 path,
#Calque_1 polygon {
    stroke-dasharray: 250px;
    stroke-dashoffset: 250px;
    animation: anim 4s ease forwards;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

.fw-400 {
    font-weight: 400;
    /* font-size: 17; */
}

.text-main {
    font-family: 'Montserrat';
    font-size: 3rem;
    margin-bottom: 2.5rem;
    width: 104%;
}

.text-yellow {
    color: var(--yellow-color);
}

.text-font2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.2em;
}

.text-transparent {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
}

.menu-toogle {
    display: flex;
    justify-content: flex-end;
}

/* .menu-toogle .bx-chevron-up {
    display: none;
} */

.menu-toogle ul.active {
    transform: scaleY(1);
    width: 100%;
    font-size: 20px;
    font-weight: 300;
}

.menu-toogle ul.inactive {
    transform: scaleY(0);
    width: 0;
    overflow: hidden;
}

.menu-toogle li a:hover {
    text-decoration: none;
}

.menu-toogle li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.list-items {
    display: flex;
    list-style-type: none;
    margin-right: 1.5rem;
    color: white;
}

.list-items li {
    padding: 0 10px;
}

.list-items li.active {
    text-decoration: underline;
    text-underline-position: under;
}

.icon-size {
    font-size: 2.5rem;
}

.btn-1 {
    color: var(--yellow-color);
    border-color: var(--yellow-color);
    background-color: transparent;
    border: 2px solid;
    padding: 0.5rem;
}

.btn-2 {
    color: var(--blue-color);
    background-color: white;
    padding: 0.5rem;
}

.main-consultant {
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
    filter: grayscale(1) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
    /* z-index: 2; */
    position: absolute;
    height: 105% !important;
    bottom: 2%;
    z-index: 1;
}

.p-3 {
    padding: 16px !important;
}

p.text-white.fw-400 {
    margin-bottom: 3rem;
    width: 92%;
}

.btn-vous {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    animation: upimation 3s ease;
}

.btn-1.mr-2,
.btn-2.ml-2 {
    font-family: 'Montserrat';
    font-size: 22px;
    /* font-size: var(--btn-font-size); */
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btn-1.mr-2 {
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
}

.btn-1.mr-2:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    padding-left: 15px;
    padding-right: 15px;
}

.btn-2.ml-2 {
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .1);
}

.btn-2.ml-2:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    padding-left: 21px;
    padding-right: 15px;
}

.container.d-flex.h-75 {
    position: relative;
    height: 86% !important;
    max-width: 1655px !important;
    top: 120px;
    overflow: hidden;

}

.d-flex.flex-column.justify-content-center.px-5.w-50 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    left: 9%;
    bottom: 8%;
}

.d-flex.justify-content-center.w-50 {
    position: relative;
    right: 7%;
}

#bg_olo::before {
    content: '';
    position: absolute;
    height: 150px;
    width: 100%;
    background-image: url('Barre_polygone.svg');
    background-size: cover;
    bottom: 0;
    z-index: 2;
    filter: drop-shadow(0px -20px 10px rgba(0, 0, 0, 0.1));
    transition: 0.5s;
    animation: upimation 1s ease;
}

.band_services {
    display: none;
    color: var(--grey1-color);
    position: absolute;
    bottom: 4%;
    z-index: 2;
    font-size: 18px;
    letter-spacing: 1px;
}

.trait_liste_services {
    display: flex;
    align-items: center;
}

.liste_services {
    font-size: 28px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

.trait_service {
    background-color: var(--grey1-color);
    height: 1px !important;
    width: 100px;
}

#partner_olo {
    height: 100vh;
    background-image: url('Design light.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#service_olo {
    height: 100vh;
    background-image: url('Fond\ Bleu\ &\ Blanc.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
}

#service_olo h1 {
    color: var(--grey1-color);
    font-family: 'Montserrat';
    font-size: 3.5rem !important;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5%;
}

#partner_olo h1,
#partie45_olo h1 {
    font-family: 'Montserrat';
    color: var(--grey1-color);
    font-size: 3.5rem !important;
    font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 25px;
}

#partie45_olo h1 {
    color: var(--yellow-color);
}

.partner_title_1,
.partner_title_2 {
    display: flex;
}

.title_blue {
    color: var(--blue-color);
    margin-right: 10px;
}

.title_yellow {
    color: var(--yellow-color);
    margin-right: 12px;
}

#partner_olo p {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey3-color);
    padding-bottom: 50px;
}

#partner_olo h3 {
    text-align: center;
    color: var(--blue-color);
    font-size: 2.5rem;
    font-weight: 300;
}

#partner_olo .partner_intro {
    padding-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#partner_olo .partner_band {
    height: 30%;
    background: white;
    overflow: hidden;
}

#partner_olo .partner_band .partner_image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    animation: defilement 60s linear infinite;
}

#partner_olo .partner_band .partner_image img {
    padding-left: 25px;
}

@keyframes defilement {
    to {
        transform: translateX(-100%);
    }
}

#service_olo .service_card {
    font-family: 'Montserrat';
    font-size: 21px;
    font-weight: 500;
    width: 250px;
    height: 350px;
    background-color: white;
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out, background-size 0.4s ease-in-out;
}

.service_card:hover {
    box-shadow: 0 0 30px 20px rgba(255, 255, 255, 0.2) !important;
    transform: translateY(-10px);
}

.service_card button:hover {
    font-size: 16px;
}

#service_olo .service_stat {
    background-color: white;
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 2%;
}

.service_stat div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.stat_number {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
}

.service_stat h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    color: var(--grey1-color);
}

.service_stat span {
    /* font-family: 'helveticaNeue1'; */
    font-family: 'League Spartan';
    font-size: 17px;
    font-weight: 300;
    color: var(--grey3-color);
}

.title_card {
    width: 100%;
    display: grid;
    height: 25%;
    background-color: var(--blue-color);
    color: white;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.service_card a {
    font-family: 'helveticaNeue1';
    font-size: 17px;
    color: var(--yellow-color) !important;
    font-weight: 600;
}

.service_card .text_card {
    font-size: 17px;
    padding: 12px;
    height: 188px;
    /* transition: 0.5s; */
}

.service_list {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    column-gap: 1%;
    /* Espace entre grid */
}

.service_list div:nth-child(1) p {
    background-image: url('recrutement.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}

.service_list div:nth-child(2) p {
    background-image: url('externalisation.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}

.service_list div:nth-child(3) p {
    background-image: url('mise-a-jour-du-systeme.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}

.service_list div:nth-child(4) p {
    background-image: url('education.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}

.service_list div:nth-child(5) p {
    background-image: url('groupe.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}

.service_card:hover .text_card {
    background-size: 80%;
}

.service_card .button_card {}

.service_card button {
    font-size: 17px;
    font-weight: 500;
    background-color: var(--yellow-color);
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    /* transition: 0.5s; */
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
}

.service_card button:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

#partie45_olo {
    height: 100vh;
    background-image: url('Design light 2.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proactif_olo,
.conseil_olo {
    max-width: 1280px;
    height: 260px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.proactif_olo::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: var(--yellow-color);
    z-index: -1;
    transform: translate(-10%, -7%);
}

.conseil_olo::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: var(--blue-color);
    z-index: -1;
    right: 14%;
    transform: translate(0px, -20px);
}

.proactif_olo h3,
.conseil_text h3 {
    color: var(--blue-color);
    font-size: 35px;
    font-weight: 400;
}

.proactif_olo img,
.conseil_olo img {
    filter: grayscale(1);
}

.proactif_text,
.conseil_text {
    display: grid;
    align-content: center;
    padding-left: 40px;
}

.btn-proactif {
    display: flex;
    gap: 2%;
}

.proactif_olo {
    margin-bottom: 2%;
}

.conseil_text {
    padding-left: 0px;
    padding-right: 40px;
}

/***** FLIP Carousel *****/
.flip3 li {
    display: flex;
    align-items: center;
}

.wordCarousel {
    /* transform: translate(487px, 175px); */
}

.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 50px;
}

/* .wordCarousel div li {
    margin-bottom: 45px;
    display: block;
} */

.flip3 {
    animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip3 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@keyframes flip5 {
    0% {
        margin-top: -210px;
    }

    5% {
        margin-top: -160px;
    }

    20% {
        margin-top: -160px;
    }

    25% {
        margin-top: -110px;
    }

    40% {
        margin-top: -110px;
    }

    45% {
        margin-top: -60px;
    }

    60% {
        margin-top: -60px;
    }

    65% {
        margin-top: -30px;
    }

    80% {
        margin-top: -30px;
    }

    85% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -210px;
    }
}

.o_footer {
    background-color: rgba(0, 0, 0, 0);
    background-image: radial-gradient(circle closest-corner at 20% 20%, #165fc0 0%, #30428d 100%);
}

.o_footer .o_footer_copyright {
    background-color: rgba(0, 0, 0, 0.15);
}

.shadow-sm {
    display: contents;
    color: white;
}

.o_colored_level.g-height-3.g-.col-lg-3.o_we_force_no_transition li {
    font-family: 'helveticaNeue1';
}

.o_colored_level.g-.g-height-3.col-lg-3 li {
    font-family: 'helveticaNeue1';
}

section.s_text_block.pb16 {
    padding: 15px;
}

.o_footer_copyright_name.me-2,
.o_brand_promotion {
    font-family: 'League Spartan';
    color: #B3B3B3;
}


.o_colored_level.g-height-3.g-.col-lg-3.o_we_force_no_transition,
.o_colored_level.g-.g-height-3.col-lg-3 {
    color: white;
}

.o_colored_level.g-height-3.g-.col-lg-3.o_we_force_no_transition h2,
.o_colored_level.g-.g-height-3.col-lg-3 h3,
.o_colored_level.g-.g-height-3.col-lg-3.pb0 h3 {
    font-family: 'helveticaNeue1';
    font-size: 30px;
}

a.badge.text-bg-light {
    color: black;
    background-color: #f4f4f4;
    padding: 4px;
}

.o_colored_level.g-.g-height-3.col-lg-3 a {
    color: var(--yellow-color);
    font-family: 'helveticaNeue1';
}

input.js_subscribe_value.form-control {
    width: 60%;
    border-radius: 25px;
}

.input-group>.form-control {
    flex: none;
}

a.js_subscribe_btn.o_submit.o_default_snippet_text {
    padding-left: 8px;
}

@media only screen and (max-width: 1366px) {
    p {
        font-size: 17px;
    }

    .header {
        height: 100px !important;
    }

    .main-consultant {
        height: 100% !important;
        bottom: 5%;
    }

    #Calque_1 {
        /* width: 110%; */
        margin-bottom: 5% !important;
    }

    p.text-white.fw-400 {
        margin-bottom: 5% !important;
    }

    #bg_olo::before {
        height: 130px;
		bottom: -20px;
    }

    .container.d-flex.h-75 {
        top: 117px;
    }

    .d-flex.justify-content-center.w-50 {
        /* right: 4%; */
    }

    .btn-1.mr-2,
    .btn-2.ml-2 {
        font-size: 20px;
    }

    #service_olo h1 {
        font-size: 3rem !important;
        padding-bottom: 0.5%;
    }

    #service_olo .service_card {
        font-size: 20px;
        width: 220px;
        /* height: 315px; */
        height: 290px;
    }

    #service_olo .service_stat {
        height: 20%;
    }

    .service_stat h2 {
        font-size: 1.75rem;
    }

    p.text_card {
        font-size: 16px !important;
        margin-bottom: 0;
        line-height: 22px;
    }

    .title_card {
        font-size: 18px;
    }

    .service_card a {
        font-size: 16px;
    }

    #partie45_olo {
        height:114vh;
        overflow: hidden;
    }

    #partner_olo h1,
    #partie45_olo h1 {
        font-size: 3rem !important;
    }

    #partner_olo h3 {
        font-size: 2.25rem;
    }

    #partner_olo .partner_band {
        height: 27%;
    }

    .service_card button {
        font-size: 16px;
    }

    .service_card .button_card {
        transform: translateY(-13px);
    }

    .stat_number {
        transform: translateY(7px);
    }

    .stat_number h2 {
        font-size: 1.5rem;
    }

    .service_stat span {
        line-height: 20px;
    }

    .proactif_olo,
    .conseil_olo {
        max-width: 1200px;
        height: 225px;
    }

    .proactif_olo h3,
    .conseil_text h3 {
        font-size: 33px;
    }

    .proactif_olo::before,
    .conseil_olo::before {
        width: 345px;
        height: 265px;
    }

    .conseil_olo::before {
        right: 8%;
    }

    .o_footer {
        margin-top: 2.5%;
    }
}

@media only screen and (max-width: 1280px) {

    .proactif_olo,
    .conseil_olo {
        max-width: 90%;
        height: 225px;
    }

    .service_list {
        flex-wrap: wrap;
        row-gap: 2%;
    }
}

@media only screen and (max-width: 1150px) {
    #service_olo .service_card {
        font-size: 18px;
    }

    p.text_card {
        font-size: 15px !important;
    }

    .service_card a {
        font-size: 15px;
    }

    .service_card button {
        font-size: 15px;
    }

    .proactif_olo {
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 1024px) {

    p {
        font-size: 16px;
    }

    .menu-toogle ul.active {
        font-size: 18px;
    }

    #Calque_1 {
        width: 115%;
    }

    .main-consultant {
        height: 95% !important;
    }

    .btn-1.mr-2,
    .btn-2.ml-2 {
        font-size: 18px;
    }

    #partner_olo h1,
    #partie45_olo h1,
    #service_olo h1 {
        font-size: 3rem !important;
    }

    #partner_olo h3 {
        font-size: 2rem;
    }

    #partner_olo .partner_band {
        height: 25%;
    }

    .title_card {
        font-size: 17px;
    }

    p.text_card {
        font-size: 15px !important;
    }

    .service_card button,
    .service_card a {
        font-size: 14px;
    }

    .service_card .button_card {
        position: relative;
        top: 2%;
    }

    .service_card button:hover {
        font-size: 13px;
    }

    .service_stat h2 {
        font-size: 1.5rem;
    }

    .service_stat span {
        font-size: 15px;
    }

    .proactif_olo,
    .conseil_olo {
        max-width: 95%;
        height: 230px;
    }

    .proactif_olo h3,
    .conseil_text h3 {
        font-size: 30px;
    }

    .proactif_olo::before,
    .conseil_olo::before {
        width: 350px;
        height: 270px;
    }
}

@media only screen and (max-width: 800px) {

    #service_olo .service_stat {
        flex-wrap: wrap;
    }

    .service_stat div {
        max-width: 175px;
    }

    #partner_olo p {
        width: 90%;
    }

    .proactif_olo,
    .conseil_olo {
        max-width: 95%;
        height: 230px;
    }

    .proactif_olo {
        margin-bottom: 8%;
    }

}

/*** vvv Via JavaScript vvv ***/
.forScrollUp {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.forScrollUp.scrollActive {
    transform: translateY(0);
    opacity: 1;
}

.forScrollDown {
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.forScrollDown.scrollActive {
    transform: translateY(0);
    opacity: 1;
}

.forScrollLeft {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.forScrollLeft.scrollActive {
    transform: translateX(0);
    opacity: 1;
}

.forScrollRight {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.forScrollRight.scrollActive {
    transform: translateX(0);
    opacity: 1;
}

/*** ^^^ By JavaScript ^^^ ***/


@keyframes downimation {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes upimation {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes leftimation {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightimation {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}