:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;
}

#candidats_olo {
    height: 100vh;
}

#candidats_olo .candidats_research {
    background-image: url(children-1807511.jpg);
    background-size: cover;
    height: 50%;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    gap: 2%;
    margin-bottom: 1.5%;
}

#candidats_olo .candidats_research h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 3.5rem !important;
}

.candidats_research span {
    color: var(--yellow-color);
}

#candidats_olo .candidats_research h3 {
    /* color: var(--grey1-color); */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.research_bar {
    display: flex;
    justify-content: center;
    column-gap: 0.75%;
    height: 59px;
}

.research_bar input {
    /* border-radius: 20px; */
    /* font-family: 'helveticaNeue1'; */
    opacity: 80%;
    font-weight: 300;

    &::placeholder {
        color: var(--grey2-color);
    }
}

.research_keyword {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

.workplace {
    width: 15%;
    padding-left: 15px;
    padding-right: 15px;
}

.offres_pertinentes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.offres_pertinentes h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--grey2-color);
    font-family: 'League Spartan';
    letter-spacing: 8px;
    margin-bottom: -5px;
}

.pertinentes_list {
    display: flex;
    justify-content: center;
    gap: 1%;
    height: 275px;
}

.pertinentes_kanban {
    font-family: 'Montserrat';
    font-size: 21px;
    font-weight: 500;
    width: 250px;
    height: 100%;
    background-color: white;
    transition: 0.3s;
}

.pertinentes_kanban:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.2);
}

.title_kanban {
    width: 100%;
    display: grid;
    height: 75px;
    background-color: var(--blue-color);
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 300;
}

.text_kanban {
    font-size: 17px;
    height: 150px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: var(--grey3-color);
}

.pertinentes_kanban {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.pertinentes_kanban button {
    font-size: 17px;
    font-weight: 500;
    background-color: var(--yellow-color);
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);

    &:hover {
        box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    }
}

.toutes_offres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.trait1,
.trait2 {
    height: 2px;
    width: 150px;
    background-color: #ecc505;
    transition: 0.5;
}

.toutes_offres:hover {
    gap: 0px;

    /* background-color: red; */
    & .trait1 {
        transform: translateX(20px);
    }

    & .trait2 {
        transform: translateX(-12.5px);
    }
}