@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
    font-family: helveticaNeue1;
    src: url(HelveticaNeue_Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'helveticaNeue1', 'Paytone One', 'sans-serif';
}

:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;
}

p {
    font-family: 'helveticaNeue1';
    font-size: 19px;
}

#bg_olo {
    height: 100vh;
    background: url('Fond bleu.svg');
    background-size: cover;
}

.header {
    background-image: url(Fond\ bleu.svg);
    background-size: cover;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 107px;
    z-index: 2;
    animation: downimation 1.5s ease;

}

.menu-toogle {
    display: flex;
    justify-content: flex-end;
}

.menu-toogle ul.active {
    transform: scaleY(1);
    width: 100%;
    transition: transform 0.5s ease-out;
    font-size: 20px;
    font-weight: 300;
}

.menu-toogle ul.inactive {
    transform: scaleY(0);
    width: 0;
    overflow: hidden;
    transition: transform 250ms ease-out;
}

.list-items {
    display: flex;
    list-style-type: none;
    margin-right: 1.5rem;
    color: white;
}

.list-items li {
    padding: 0 10px;
}

.list-items li.active {
    text-decoration: underline;
    text-underline-position: under;
}

.icon-size {
    font-size: 2.5rem;
}

#company_olo {
    /* background-image: url('students-1807505_1920\ \(dark\ moody\).jpg'); */
    background-image: url('Entreprises\ -\ Placez\ l\'humain\ au\ centre.jpg');
    height: 100vh;
    background-size: cover;
    background-position-y: 45%;
    position: relative;
}

#company_olo::before {
    content: '';
    position: absolute;
    height: 150px;
    width: 100%;
    background-image: url('Barre_polygone.svg');
    background-size: cover;
    bottom: 0;
    z-index: 2;
    filter: drop-shadow(0px -20px 10px rgba(0, 0, 0, 0.1));
    transition: 0.5s;
    animation: upimation 1s ease;
}

.company_text {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;
    position: relative;
    padding-left: 11%;
    /* padding-top: 2%; */
}


.company_text .company_title {
    display: flex;
    animation: downimation 2.5s ease;
}

.company_text #slogan_company {
    /* height: 7.3rem; */
    height: 8.5rem;
}

.company_text h1 {
    color: white;
    font-weight: 900;
    font-size: 4rem;
}

.company_text span {
    color: white;
    font-family: 'helveticaNeue1';
    font-size: 19px;
}

.company_text .title_place {
    stroke-width: 2px;
}

.company_text .title_human {
    color: var(--yellow-color);
}

.company_text .title_point {
    color: var(--blue-color);
}

.problematique {
    font-family: 'helveticaNeue1';
    font-size: 19px;
    color: white;
    animation: showup 7s infinite;
    width: min-content;
}

.phrase {
    width: 0px;
    animation: reveal 7s infinite;
    overflow: hidden;
}

.phrase span {
    /*   margin-left:-355px; */
    margin-left: -100%;
    animation: slidein 7s infinite;
}

.company_text button {
    animation: upimation 1s ease;
}

.service_stat_entreprise {
    display: flex;
    flex-direction: column;
    row-gap: 7%;
}

.text_anim {
    display: flex;
    white-space: nowrap;
    width: min-content;
    overflow: hidden;
}

.text_anim_2 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center !important;
    white-space: nowrap;
    flex-wrap: nowrap !important;
    width: min-content !important;
    animation: showup 7s infinite;
}

.text_anim_2 span {
    font-family: 'League Spartan';
    font-size: 25px;
    font-weight: 600;
    color: var(--grey2-color);
}

.besoin {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: showBesoin 7s infinite;
}

.besoin span {
    margin-left: -100%;
    animation: showBesoinToRight 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
        /* margin-left: -100%; */
    }

    25% {
        margin-left: -800px;
        /* margin-left: -100%; */
    }

    50% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        /* width: 355px; */
        width: 600px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        /* width: 355px; */
        width: 600px;
    }
}

@keyframes showBesoin {
    0% {
        width: 0;
    }

    25% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: min-content;
    }
}

@keyframes showBesoinToRight {
    0% {
        margin-left: -100%;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: 0;
    }

    100% {
        margin-left: 0;
    }
}
