:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;

}

#candidats_olo {
    height: 100vh;
}

#candidats_olo .candidats_research {
    /* background-image: url(children-1807511.jpg); */
    background-image: url(Candidats\ -\ Vous\ êtes\ le\ talent.jpg);
    background-size: cover;
    height: 50%;
    /* background-position-y: 50%; */
    background-position-y: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 4%;
    gap: 2%;
    margin-bottom: 1.5%;
}

#candidats_olo .candidats_research h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 3.5rem !important;
    gap: 1%;
}

.candidats_research span {
    color: var(--yellow-color);
}

.titre_blanc {
    color: white !important;
    opacity: 0;
    animation: rightimation 1s ease 0.75s;
    animation-fill-mode: forwards;
}

.titre_jaune {
    animation: leftimation 1s ease 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#candidats_olo .candidats_research h3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    animation: upimation 1s ease 1.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.research_bar {
    display: flex;
    justify-content: center;
    column-gap: 0.75%;
    height: 59px;
    animation: upimation 1s ease 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.research_bar input {
    opacity: 80%;
    font-weight: 300;
    /* 
    &::placeholder {
        color: var(--grey2-color);
    } */
}

.research_bar input::placeholder {
    color: var(--grey2-color);
}

.research_keyword {
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    animation: upimation 1s ease 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.btn_job {
    animation: upimation 1s ease 1.75s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.workplace {
    width: 15%;
    padding-left: 15px;
    padding-right: 15px;
}

.offres_pertinentes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 5;
}

.offres_pertinentes h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--grey2-color);
    font-family: 'League Spartan';
    letter-spacing: 8px;
    margin-bottom: -5px;
}

.pertinentes_list {
    display: flex;
    justify-content: center;
    gap: 1%;
    height: 275px;

    animation: upimation 1s ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

.pertinentes_kanban {
    font-family: 'Montserrat';
    font-size: 21px;
    font-weight: 500;
    width: 250px;
    height: 100%;
    background-color: white;
    transition: 0.3s;
}

.pertinentes_kanban:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.2);
}

.title_kanban {
    width: 100%;
    display: grid;
    height: 30%;
    background-color: var(--blue-color);
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
}

.text_kanban {
    font-size: 17px;
    font-family: 'helveticaNeue1';
    height: 50%;
    /* height: 150px; */
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: var(--grey3-color);
}

.text_kanban p {
    font-size: 16px;
}

.text_kanban div {
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 25px;
}

.pertinentes_kanban {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.pertinentes_kanban button {
    font-size: 17px;
    font-weight: 500;
    background-color: var(--yellow-color);
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
}

.pertinentes_kanban button:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

.toutes_offres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.trait1,
.trait2 {
    height: 2px;
    width: 150px;
    background-color: #ecc505;
    transition: 0.5;
}

.toutes_offres:hover {
    gap: 0px;
}

.toutes_offres:hover .trait1 {
    transform: translateX(20px);
}

.toutes_offres:hover .trait2 {
    transform: translateX(-12.5px);
}


/*****Liste bonbon*****/
:root {
    --col1: #f5a210;
    --col2: #dd2566;
    --col3: #45af60;
    --col4: #21a6d8;
    --col5: #bc3736;
    --col11: #f8a818;
    --col22: #e62b6c;
    --col33: #55b366;
    --col44: #27b3e5;
    --col55: #cd3c3d;
}

#jobs_grid h3 {
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
}

#jobs_grid #jobs_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 0.3s;
}

#jobs_grid .btn-details {
    background: white;
    font-size: 15px;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.15) !important;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

#jobs_grid .btn-details:hover {
    color: white !important;
}

#jobs_grid .btn-details::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    transition: all 0.5s;
    z-index: -1;
}

#jobs_grid .btn-details:hover::before {
    top: 0;
    border-radius: 0;
}

#jobs_grid svg.Logo_personalisé,
svg {
    display: inline-block;
    height: 18px;
}

#jobs_grid a:nth-child(1) #jobs_name {
    background: var(--col1) !important;
}

#jobs_grid a:nth-child(1):hover .card-job.card-body {
    border: solid 2px var(--col1);
}

#jobs_grid a:nth-child(1) .btn-details {
    color: var(--col1);
}

#jobs_grid a:nth-child(1) .btn-details::before {
    background: var(--col1);
}

#jobs_grid a:nth-child(1) .card_icone {
    fill: var(--col11);
    stroke: var(--col11);
}


#jobs_grid a:nth-child(2) #jobs_name {
    background: var(--col2) !important;
}

#jobs_grid a:nth-child(2) .btn-details {
    color: var(--col2);
}

#jobs_grid a:nth-child(2):hover .card-job.card-body {
    border: solid 2px var(--col2);
}

#jobs_grid a:nth-child(2) .btn-details::before {
    background: var(--col2);
}

#jobs_grid a:nth-child(2) .card_icone {
    fill: var(--col22);
    stroke: var(--col22);
}


#jobs_grid a:nth-child(3) #jobs_name {
    background: var(--col3) !important;
}

#jobs_grid a:nth-child(3) .btn-details {
    color: var(--col3);
}

#jobs_grid a:nth-child(3):hover .card-job.card-body {
    border: solid 2px var(--col3);
}

#jobs_grid a:nth-child(3) .btn-details::before {
    background: var(--col3);
}

#jobs_grid a:nth-child(3) .card_icone {
    fill: var(--col33);
    stroke: var(--col33);
}


#jobs_grid a:nth-child(4) #jobs_name {
    background: var(--col4) !important;
}

#jobs_grid a:nth-child(4) .btn-details {
    color: var(--col4);
}

#jobs_grid a:nth-child(4):hover .card-job.card-body {
    border: solid 2px var(--col4);
}

#jobs_grid a:nth-child(4) .btn-details::before {
    background: var(--col4);
}

#jobs_grid a:nth-child(4) .card_icone {
    fill: var(--col44);
    stroke: var(--col44);
}


#jobs_grid a:nth-child(5) #jobs_name {
    background: var(--col5) !important;
}

#jobs_grid a:nth-child(5) .btn-details {
    color: var(--col5);
}

#jobs_grid a:nth-child(5):hover .card-job.card-body {
    border: solid 2px var(--col5);
}

#jobs_grid a:nth-child(5) .btn-details::before {
    background: var(--col5);
}

#jobs_grid a:nth-child(5) .card_icone {
    fill: var(--col55);
    stroke: var(--col55);
}

/****Pagination*****/
.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin: 0 0.5rem;
}

.pagination li.disabled span {
    color: #bbb;
    cursor: default;
}

.pagination li.active span,
.pagination li a:hover {
    background-color: #333;
    color: #fff;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.pagination li a:first-child,
.pagination li span:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination li a:last-child,
.pagination li span:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


/* MODIFICATION 26 Juin 2023 */
.list_container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#jobs_grid h3 {
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

.d-flex.flex-column.justify-content-center.ps-3 b,
.d-flex.flex-column.justify-content-center.ps-3 span,
.d-flex.flex-column.justify-content-center.ps-3 p {
    font-size: 16px;
    font-family: helveticaNeue1;
    color: var(--grey3-color);
}

.text-center p,
b {
    font-size: 16px;
    color: #58595b;
    font-family: helveticaNeue1;
}

.d-flex.flex-column.justify-content-center.ps-3 {
    margin: 2%;
}

button.btn-details {
    font-weight: 500;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
}

.card-job.card-body.d-flex.flex-row.w-100.mb-3.p-0 {
    border-radius: 40px;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.1) !important;
}

@media only screen and (max-width: 1366px) {
    #candidats_olo {
        /* height: auto;
        margin-bottom: 3%; */
    }

    .list_container {
        margin-top: 90px;
    }

    #candidats_olo .candidats_research {
        /* height: 45%; */
        height: 42%;
        padding-top: 7%;
        gap: 0.5%;
    }

    #candidats_olo .candidats_research h1 {
        /* font-size: 2.75rem !important; */
        font-size: 2.5rem !important;
    }

    #candidats_olo .candidats_research h3 {
        /* font-size: 1.3rem; */
        font-size: 1.1rem;
    }

    .research_bar {
        height: 54px;
    }

    .offres_pertinentes h3 {
        /* font-size: 1.5rem; */
        font-size: 1.25rem;
    }

    .pertinentes_list {
        /* height: 250px; */
        height: 220px;
    }

    .pertinentes_kanban {
        width: 235px;
    }

    .pertinentes_kanban button {
        font-size: 15px;
    }

    .offres_pertinentes {
        gap: 15px;
    }

    .title_kanban {
        height: 28%;
        font-size: 16px;
    }

    .text_kanban img {
        height: 19px;
    }

    .text_kanban p {
        font-size: 15px;
    }

    .btn-1.mr-2, .btn-2.ml-2 {
        font-size: 18px;
    }

    #partie45_olo h1 {
        padding-top: 0;
    }
}

@media only screen and (max-width: 1280px) {

    .pertinentes_kanban {
        width: 225px;
    }

    .title_kanban {
        font-size: 16px;
    }

    .list_container {
        margin-top: 131px;
    }
}

@media only screen and (max-width: 1150px) {
    .pertinentes_list {
        height: 250px;
    }

    .text_kanban p {
        font-size: 15px;
    }

    .pertinentes_kanban button {
        font-size: 15px;
    }
}