@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
    font-family: helveticaNeue1;
    src: url(HelveticaNeue_Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'helveticaNeue1', 'Paytone One', 'sans-serif';
}

:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;
    
    --col1: #f5a210;
    --col2: #dd2566;
    --col3: #45af60;
    --col4: #21a6d8;
    --col5: #bc3736;
    --col11: #f8a818;
    --col22: #e62b6c;
    --col33: #55b366;
    --col44: #27b3e5;
    --col55: #cd3c3d;
}

p {
    font-family: 'helveticaNeue1';
    font-size: 19px;
}

.header {
    background-image: url(Fond\ bleu.svg);
    background-size: cover;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 107px;
    z-index: 1;

}

.menu-toogle {
    display: flex;
    justify-content: flex-end;
}

/* .menu-toogle .bx-chevron-up {
    display: none;
} */

.menu-toogle ul.active {
    transform: scaleY(1);
    width: 100%;
    transition: transform 0.5s ease-out;
    font-size: 20px;
    font-weight: 300;
}

.menu-toogle ul.inactive {
    transform: scaleY(0);
    width: 0;
    overflow: hidden;
    transition: transform 250ms ease-out;
}

.list-items {
    display: flex;
    list-style-type: none;
    margin-right: 1.5rem;
    color: white;
}

.list-items li {
    padding: 0 10px;
}

.list-items li.active {
    text-decoration: underline;
    text-underline-position: under;
}

.icon-size {
    font-size: 2.5rem;
}

#about_olo {
    /* background-image: url('Fond\ carousel.svg'); */
    background-image: url('Fond\ bleu.svg');
    height: 100vh;
    background-size: cover;
    position: relative;
}

#about_olo .about_carousel {
    display: flex;
    justify-content: center;
    position: inherit;
    top: 120px;
    text-transform: uppercase;
    /* height: 55%; */
}

.about_carousel h1 {
    color: white;
    font-weight: 900;
    font-size: 4rem;
    position: absolute;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 2;
}

.about_carousel .carousel_limits {
    height: 100%;
}

.about_carousel .carousel_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 140px;
}

.carousel_content button {
    position: absolute;
    text-transform: uppercase;
    background: rgba(0,0,0,0.25);
    z-index: 2;
}

.carousel_limits .carousel_limit_left {
    width: 32%;
    left: 5%;
    height: 100%;

    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-right: none;
    border-bottom: none;

    position: absolute;
    top: 40px;
    z-index: 2;
}

.carousel_limits .carousel_limit_right {
    width: 32%;
    right: 5%;
    height: 100%;

    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-left: none;
    border-bottom: none;

    position: absolute;
    top: 40px;
    z-index: 2;
}

.carousel_text {
    height: 30%;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 3;
    bottom: 0;

    border-top-style: solid;
    border-top-width: 9px;
    border-color: var(--yellow-color);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#points_gauche,
#points_droite {
    height: 90px;
    top: 15%;
}

.carousel_text #points_gauche {
    position: absolute;
    left: 2.5%;
}

.carousel_text #points_droite {
    position: absolute;
    right: 2.5%;
}

.carousel_text p {
    color: var(--grey3-color);
    width: 50%;
}

.text_gauche {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
}

.carousel_text .text_gauche {
    height: 86%;
    width: 15%;
}

#Motif_bleu {
    position: absolute;
    height: 100%;
}

.text_gauche h3 {
    z-index: 1;
    font-family: 'Montserrat';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.7rem;
    width: 100%;
    letter-spacing: 1px;
    padding-top: 9%;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}

.carousel_color {
    height: 100%;
    width: 100%;
    position: absolute;
}

.carousel_content:hover .carousel_color {
    background: rgba(0, 0, 0, .2);
}

/* #diagram {
    height: 100vh;
    background-image: url("Diagramme\ de\ cercle\ light@1.5x.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
#diagram {
    height: 100vh;
    background-image: url("Pentagone.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#diagram .diagram_title {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}

#diagram h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 20px;
    color: var(--grey1-color);
    position: absolute;
    width: 10%;
    text-align: center;
    transform: translateY(-50%);
}

#diagram h3 {
    font-family: "Montserrat";
    font-weight: 500;
    text-wrap: nowrap;
}

#diagram p {
    color: var(--grey3-color);
    font-size: 17px;
    line-height: 20px;
}
#diagram .d1 {
    width: 240px;
    text-align: center;
    transform: translateY(-240px);
    position: absolute;
}

.d1_title {
    color: var(--col1);
}

.d1 .diagram_title {
    justify-content: center;
}

.d25 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20%;
    width: 80%;
    /* transform: translateY(70px); */
    justify-content: space-around;
}

#diagram .d2 {
    width: 100%;
    text-align: left;
}

.d2_title {
    color: var(--col4);
}

#diagram .d5 {
    width: 100%;
    text-align: right;
}

.d5_title {
    color: var(--col5);
}

.d5 .diagram_title,
.d4 .diagram_title {
    justify-content: end;
}

.d4_title {
    color: var(--col2);
}

.d3_title {
    color: var(--col3);
}

.d34 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    transform: translateY(70px);
    justify-content: space-around;
}

#diagram .d4 {
    max-width: 500px;
    text-align: right;
}

#diagram .d3 {
    max-width: 500px;
    text-align: left;
}

#postuler {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    justify-content: center;
    padding: 10%;
}

#postuler button {
    text-transform: uppercase;
    margin-top: 1.5%;
}

.postuler_text_anim {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center !important;
    white-space: nowrap;
    flex-wrap: nowrap !important;
    width: min-content !important;
    animation: showup 7s infinite;
}

.postuler_text_anim span {
    font-family: 'League Spartan';
    font-size: 25px;
    font-weight: 600;
    color: var(--grey2-color);
}

.cliquer {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: showBesoin 7s infinite;
}

.cliquer span {
    margin-left: -100%;
    animation: showBesoinToRight 7s infinite;
}

.carousel-control-prev {
    left: 4%;
    height: 40px;
    width: 40px !important;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.carousel-control-next {
    right: 4%;
    height: 40px;
    width: 40px !important;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}


@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    25% {
        margin-left: -800px;
    }

    50% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        /* width: 355px; */
        width: 600px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        /* width: 355px; */
        width: 600px;
    }
}

@keyframes showBesoin {
    0% {
        width: 0;
    }

    25% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: min-content;
    }
}

@keyframes showBesoinToRight {
    0% {
        margin-left: -100%;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: 0;
    }

    100% {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1366px) {
    .about_carousel button {
        transform: translateY(70px);
    }

    .carousel-indicators {
        bottom: 30px !important;
    }

    .carousel_text .text_gauche {
        width: 19%;
    }

    .text_gauche h3 {
        font-size: 1.5rem;
        padding-right: 10px;
    }

    #diagram p {
        font-size: 15px;
    }

    #diagram h2 {
        font-size: 19px;
        transform: translate(0px,-10px);
    }

    #diagram h3 {
        font-size: 1.5rem;
    }

    #diagram .diagram_title img {
        height: 30px;
    }

    #diagram .d1 {
        width: 200px;
        transform: translateY(-220px);
    }

    .d25 {
        transform: none;
        column-gap: 24%;
    }

    .d34 {
        transform: translate(-39px,35px);
        column-gap: 10%;
    }
}

@media only screen and (max-width: 1200px) {
    #diagram h2 {
        font-size: 16px;
    }

    .d34 {
        width: inherit;
    }

    .d25 {
        column-gap: 23%;
        width: 90%;
    }
}