@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@font-face {
    font-family: helveticaNeue1;
    src: url(HelveticaNeue_Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'helveticaNeue1', 'Paytone One', 'sans-serif';
}

:root {
    --yellow-color: #ecc505;
    --blue-color: #30428d;
    --grey1-color: #B3B3B3;
    --grey2-color: #9a9898;
    --grey3-color: #58595b;
}

p {
    font-family: 'helveticaNeue1';
    font-size: 19px;
}

#bg_olo {
    height: 100vh;
    background: url('Fond bleu.svg');
    background-size: cover;
}

.header {
    background-image: url(Fond\ bleu.svg);
    background-size: cover;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, .2);
    position: fixed;
    width: 100%;
    height: 107px;
    z-index: 2;

}

.menu-toogle {
    display: flex;
    justify-content: flex-end;
}

.menu-toogle ul.active {
    transform: scaleY(1);
    width: 100%;
    transition: transform 0.5s ease-out;
    font-size: 20px;
    font-weight: 300;
}

.menu-toogle ul.inactive {
    transform: scaleY(0);
    width: 0;
    overflow: hidden;
    transition: transform 250ms ease-out;
}

.list-items {
    display: flex;
    list-style-type: none;
    margin-right: 1.5rem;
    color: white;
}

.list-items li {
    padding: 0 10px;
}

.list-items li.active {
    text-decoration: underline;
    text-underline-position: under;
}

.icon-size {
    font-size: 2.5rem;
}

#entreprise_olo {
    background-image: url('Design\ light.svg');
    height: 100vh;
    background-size: cover;
    position: relative;
}

/* #entreprise_olo::after {
    content: '';
    background-image: url('Fond\ bleu.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    clip-path: ellipse(100% 15% at 50% 50%);
    z-index: 0;
} */

.band_bleu {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    top: 4%;
}

.container_band {
    display: flex;
    align-items: center;
    gap: 3%;
    max-width: 1200px;
    height: 350px;
    /* clip-path: ellipse(100% 15% at 50% 50%);
    background-image: url('Fond\ bleu.svg'); */

    & p {
        color: white;
    }
}


.container_band::before {
    content: '';
    background-image: url('Fond\ bleu.svg');
    clip-path: ellipse(100% 15% at 50% 50%);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.container_band_2 {
    display: flex;
    align-items: center;
    gap: 3%;
    max-width: 1200px;
    height: 350px;

    & p {
        color: var(--grey3-color);
    }

    & h3 {
        color: var(--blue-color) !important;
    }
}

.container_band_2::before {
    content: '';
    background-color: var(--yellow-color);
    clip-path: ellipse(100% 15% at 50% 50%);
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.text_surband h3 {
    color: var(--yellow-color);
    font-size: 35px;
    font-weight: 400;
}

img.fond_entreprise {
    height: 100%;
}